/* Icons CSS */

.icon-printer {
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffffff' d='M128 0C110.3 0 96 14.3 96 32V128H32C14.3 128 0 142.3 0 160V416c0 17.7 14.3 32 32 32H96v32c0 17.7 14.3 32 32 32H384c17.7 0 32-14.3 32-32V448h64c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32H416V32c0-17.7-14.3-32-32-32H128zM384 352v96H128V352H384zm0-192H128V32H384V160zm80 32a16 16 0 1 1 0 32 16 16 0 1 1 0-32z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}

.icon-printer-large {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffffff' d='M128 0C110.3 0 96 14.3 96 32V128H32C14.3 128 0 142.3 0 160V416c0 17.7 14.3 32 32 32H96v32c0 17.7 14.3 32 32 32H384c17.7 0 32-14.3 32-32V448h64c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32H416V32c0-17.7-14.3-32-32-32H128zM384 352v96H128V352H384zm0-192H128V32H384V160zm80 32a16 16 0 1 1 0 32 16 16 0 1 1 0-32z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}
